In [ ]:
!pip install mysql-connector-python

In [1]:
import requests
import mysql.connector
from mysql.connector import Error
# Connect to MySQL database
cnx = mysql.connector.connect(user='root', password='Ya3an3anter', host='127.0.0.1')

# Check if a database exists
cursor = cnx.cursor()
cursor.execute("SHOW DATABASES LIKE 'car_marketplace'")
result = cursor.fetchone()

if result:
  print("The database exists.")
  try:
      connection = mysql.connector.connect(host='127.0.0.1',
                                           port='3306',
                                           database='car_marketplace',
                                           user='root',
                                           password="Ya3an3anter",
                                           auth_plugin='mysql_native_password')
      if connection.is_connected():
          db_Info = connection.get_server_info()
          print("Connected to MySQL Server version ", db_Info)
          cursor = connection.cursor(buffered=True)
          # cursor = connection.cursor()
          cursor.execute("select database();")
          record = cursor.fetchone()
          print("You're connected to database: ", record)

  except Error as e:
      print("Error while connecting to MySQL", e)




# Insert data into Marque table
def insert_marque(name,id):
    query = f"INSERT INTO annonce_marque (name,id) VALUES ('{name}',{id})"
    cursor.execute(query)
    cnx.commit()


# Insert data into Modele table
def insert_modele(marque_id, name):
    query = "INSERT INTO annonce_modele (marque_id, name) VALUES (%s, %s)"
    cursor.execute(query, (marque_id, name))
    cnx.commit()


# Insert data into Generation table
def insert_generation(modele_id, name,id):
    query = f"INSERT INTO annonce_generation (modele_id, name,id) VALUES ({modele_id},'{name}',{id})"
    cursor.execute(query, (modele_id, name))
    cnx.commit()

The database exists.
Connected to MySQL Server version  8.0.28
You're connected to database:  ('car_marketplace',)

In [7]:
car_makes_list = [
    'Acura', 'Alfa-Romeo', 'Aston Martin', 'Audi', 'BMW', 'Bentley', 'Buick', 
    'Cadilac', 'Chevrolet', 'Chrysler', 'Daewoo', 'Daihatsu', 'Dodge', 'Eagle', 
    'Ferrari', 'Fiat', 'Fisker', 'Ford', 'Freighliner', 'GMC - General Motors Company', 
    'Genesis', 'Geo', 'Honda', 'Hummer', 'Hyundai', 'Infinity', 'Isuzu', 'Jaguar', 
    'Jeep', 'Kla', 'Lamborghini', 'Land Rover', 'Lexus', 'Lincoln', 'Lotus', 'Mazda', 
    'Maserati', 'Maybach', 'McLaren', 'Mercedez-Benz', 'Mercury', 'Mini', 'Mitsubishi', 
    'Nissan', 'Oldsmobile', 'Panoz', 'Plymouth', 'Polestar', 'Pontiac', 'Porsche', 
    'Ram', 'Rivian', 'Rolls_Royce', 'Saab', 'Saturn', 'Smart', 'Subaru', 'Susuki', 
    'Tesla', 'Toyota', 'Volkswagen', 'Volvo'
]

In [9]:
car_make_list_id={}
i=1
for car in car_makes_list:
    car_make_list_id[car]=i
    i=i+1

In [10]:
car_make_list_id

{'Acura': 1,
 'Alfa-Romeo': 2,
 'Aston Martin': 3,
 'Audi': 4,
 'BMW': 5,
 'Bentley': 6,
 'Buick': 7,
 'Cadilac': 8,
 'Chevrolet': 9,
 'Chrysler': 10,
 'Daewoo': 11,
 'Daihatsu': 12,
 'Dodge': 13,
 'Eagle': 14,
 'Ferrari': 15,
 'Fiat': 16,
 'Fisker': 17,
 'Ford': 18,
 'Freighliner': 19,
 'GMC - General Motors Company': 20,
 'Genesis': 21,
 'Geo': 22,
 'Honda': 23,
 'Hummer': 24,
 'Hyundai': 25,
 'Infinity': 26,
 'Isuzu': 27,
 'Jaguar': 28,
 'Jeep': 29,
 'Kla': 30,
 'Lamborghini': 31,
 'Land Rover': 32,
 'Lexus': 33,
 'Lincoln': 34,
 'Lotus': 35,
 'Mazda': 36,
 'Maserati': 37,
 'Maybach': 38,
 'McLaren': 39,
 'Mercedez-Benz': 40,
 'Mercury': 41,
 'Mini': 42,
 'Mitsubishi': 43,
 'Nissan': 44,
 'Oldsmobile': 45,
 'Panoz': 46,
 'Plymouth': 47,
 'Polestar': 48,
 'Pontiac': 49,
 'Porsche': 50,
 'Ram': 51,
 'Rivian': 52,
 'Rolls_Royce': 53,
 'Saab': 54,
 'Saturn': 55,
 'Smart': 56,
 'Subaru': 57,
 'Susuki': 58,
 'Tesla': 59,
 'Toyota': 60,
 'Volkswagen': 61,
 'Volvo': 62}

In [56]:
api_key = 'dfINk+kiDgXTsSmUNLxeTA==xHg3cxnIR5bGMXK6'
car_make_model_year={}
for car_make in car_marke_list_2:

    api_url = f'https://api.api-ninjas.com/v1/cars?make={car_make}'
    response = requests.get(api_url, headers={'X-Api-Key': api_key})
    print(response)
    if response.status_code == requests.codes.ok:
        data = response.json()

# Extracting models and years for the current car make
        models_years = {}
        for item in data:
            model = item['model']
            year = item['year']
            if model not in models_years:
                models_years[model] = [year]
            else:
                models_years[model].append(year)

        # Storing models and years in the dictionary
        car_make_model_year[car_make] = models_years
    else:
        print("Error:", response.status_code, response.text)

print(car_make_model_year)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
{'AC': {'eldorado': [1993, 1993], 'seville': [1993, 1993], 'grand prix': [1993]}, 'Acura': {'nsx': [1994, 1994], 'integra': [1994, 1994, 1994]}, 'Adler': {}, 'Alfa Romeo': {'spider veloce 2000': [1985], 'spider': [1994], '164': [1994, 1994, 1995]}, 'Alpina': {'roadster v8': [2003], 'b7': [2007, 2008]}, 'Alpine': {}, 'AMC': {}, 'Apal': {}, 'Aro': {}, 'Asia': {}, 'Aston Martin': {'lagonda': [1985], 'saloon/vantage/volante': [1985, 1985], 'db7 coupe': [1997, 1997]}, 'Audi': {'100': [1993, 1993], '100 quattro wagon': [1993], 'cabriolet': [1994], '90 quattro': [1994]}, 'Aurus': {}, 'Austin': {}, 'Austin Healey': {}, 'Autobianchi': {}, 'Autocam': {}, 'Baic': {}, 'Bajaj': {}, 'Baltijas Dzips': {}, 'Batmobile': {}, 'Beijing': {}, 'Bentley': {'azure': [1998], 'continental sc': [1998], 'continental t': [1998], 'continental r': [1998], 'brooklands r': [1998]}, 'Bertone': {'x1/9': [1986, 1985, 1984, 1984, 1987]}, 'Bilenkin': {}, 'Bitter': {'bitter sc': [1986, 1987, 1987], 'sc': [1984, 1984]}, 'BMW': {'740i': [1993], '740il': [1993], '750il': [1993], '525i touring': [1993], '318i convertible': [1994]}, 'Borgward': {}, 'Brabus': {}, 'Brilliance': {}, 'Bristol': {}, 'Bufori': {}, 'Bugatti': {'veyron': [2006, 2008, 2010, 2011, 2012]}, 'Buick': {'century': [1993, 1993, 1993], 'regal': [1993, 1993]}, 'BYD': {'e6': [2012, 2014, 2013, 2016, 2017]}, 'Cadillac': {'eldorado': [1993, 1993], 'seville': [1993, 1993], 'deville/60 special': [1993]}, 'Callaway': {}, 'Carbodies': {}, 'Caterham': {}, 'Chana': {}, 'Changan': {}, 'ChangFeng': {}, 'Changhe': {}, 'Chery': {}, 'CheryExeed': {}, 'Chevrolet': {'lumina': [1993, 1993, 1993, 1993, 1993]}, 'Chrysler': {'new yorker': [1993], 'concorde': [1993, 1993], 'fifth avenue/imperial': [1993, 1993]}, 'Citroen': {}, 'Cizeta': {}, 'Coggiola': {}, 'Combat': {}, 'Cord': {}, 'Dacia': {'coupe': [1988], 'sedan': [1988], 'station wagon': [1988]}, 'Dadi': {}, 'Daewoo': {'lanos': [1998, 1998, 1998, 1998], 'nubira': [1998]}, 'Daihatsu': {'charade': [1988, 1989, 1989, 1989], 'charade e': [1989]}, 'Daimler': {}, 'Dallara': {}, 'Dallas': {}, 'Datsun': {}, 'De Tomaso': {}, 'Deco Rides': {}, 'Delage': {}, 'DeLorean': {}, 'Derways': {}, 'DeSoto': {}, 'DFSK': {}, 'DKW': {}, 'Dodge': {'charger': [1985], 'b150/b250 wagon 2wd': [1985, 1985, 1985, 1985]}, 'DongFeng': {}, 'Doninvest': {}, 'Donkervoort': {}, 'DS': {'cutlass ciera': [1993, 1993, 1993], 'cutlass supreme': [1993, 1993]}, 'DW Hower': {}, 'Eagle': {'vision': [1993, 1993], 'summit wagon': [1993, 1993, 1993]}, 'Excalibur': {'phaeton': [1987]}, 'FAW': {}, 'Ferrari': {'testarossa': [1985], 'ferrari 348 tb/ts/spider': [1994, 1994], 'ferrari 512 tr': [1994], 'ferrari mondial t/cabriolet': [1994]}, 'Fiat': {'500': [2012, 2012, 2013], '500 cabrio': [2012], '500 abarth': [2012]}, 'Fisker': {'karma': [2012], 'ocean extreme one': [2023]}, 'Flanker': {}, 'Ford': {'taurus': [1993, 1993], 'taurus sho': [1993], 'thunderbird': [1993, 1993]}, 'Foton': {}, 'FSO': {}, 'Fuqi': {}, 'GAC': {}, 'GAZ': {}, 'Geely': {}, 'Genesis': {'g80 rwd': [2017, 2017], 'g80 awd': [2017], 'g90 awd': [2017], 'g90 rwd': [2017]}, 'Geo': {'tracker convertible 2wd': [1993, 1993], 'tracker convertible 4wd': [1993, 1993], 'tracker van 4wd': [1993]}, 'GMC': {'g15/25 rally 2wd': [1985, 1985, 1985, 1985, 1985]}, 'Gonow': {}, 'Gordon': {}, 'GP': {}, 'Great Wall': {}, 'Hafei': {}, 'Haima': {}, 'Hanomag': {}, 'Haval': {}, 'Hawtai': {}, 'Heinkel': {}, 'Hindustan': {}, 'Hispano-Suiza': {}, 'Holden': {}, 'Honda': {'accord wagon': [1993, 1993], 'civic del sol': [1994, 1994, 1994]}, 'Horch': {}, 'HuangHai': {}, 'Hudson': {}, 'Hummer': {'h3 4wd': [2006, 2006, 2007, 2007, 2008]}, 'Hyundai': {'sonata': [1993, 1993, 1993], 'excel': [1994, 1994]}, 'Infiniti': {'q45': [1993], 'q45 full-active suspension': [1993], 'j30': [1994], 'g20': [1994, 1994]}, 'Innocenti': {}, 'Invicta': {}, 'Iran Khodro': {}, 'Isdera': {}, 'Isuzu': {'pickup 2wd': [1993, 1993, 1993], 'pickup 4wd': [1993, 1993]}, 'IVECO': {}, 'IZH': {}, 'JAC': {}, 'Jaguar': {'xjs convertible': [1994], 'xjs coupe': [1994, 1994], 'xjs v12 coupe': [1994], 'xj12': [1994]}, 'Jeep': {'comanche pickup 4wd': [1993, 1993, 1993, 1993], 'comanche pickup 2wd': [1993]}, 'Jensen': {}, 'Jiangnan': {}, 'Jinbei': {}, 'JMC': {}, 'Kanonir': {}, 'Kia': {'sephia': [1994, 1994, 1995, 1995, 1995]}, 'Koenigsegg': {'agera rs': [2018], 'regera': [2019, 2020]}, 'KTM AG': {}, 'Lamborghini': {'db132/diablo': [1995, 1995, 1996], 'db132/144 - diablo': [1997], 'db132/144 diablo': [1998]}, 'Lancia': {}, 'Land Rover': {'defender 110': [1993], 'range rover county': [1993], 'range rover county lwb': [1993], 'defender 90': [1994], 'discovery': [1994]}, 'Landwind': {}, 'Lexus': {'ls 400': [1993], 'sc 300/sc 400': [1994, 1994, 1994], 'es 300': [1994]}, 'Lifan': {}, 'Ligier': {}, 'Lincoln': {'continental': [1993, 1994], 'town car': [1993, 1994], 'mark viii': [1994]}, 'Lotus': {'esprit turbo': [1994, 1995], 'esprit v8': [1997, 2000], '98 esprit v8': [1998]}, 'LTI': {}, 'LuAZ': {}, 'Luxgen': {}, 'Mahindra': {'tr40': [2011]}, 'Marcos': {}, 'Marlin': {}, 'Marussia': {}, 'Maruti': {}, 'Maserati': {'biturbo': [1985, 1985, 1986], 'biturbo spyder': [1986], 'spider cambiocorsa/spider gt': [2002]}, 'Maybach': {'57': [2004, 2005, 2006], '62': [2004, 2005]}, 'Mazda': {'626': [1993, 1993, 1993, 1993], '929': [1993]}, 'McLaren': {'mp4-12c coupe': [2012, 2014], 'mp4-12c spider': [2014], 'p1': [2014], '650s coupe': [2015]}, 'Mega': {}, 'Mercedes-Benz': {'300sd': [1993], '300se': [1993], '400sel': [1993], '500sel': [1993], 'sl320': [1994]}, 'Mercury': {'cougar': [1993, 1993], 'sable': [1993, 1993], 'grand marquis': [1993]}, 'Metrocab': {}, 'MG': {}, 'Minelli': {}, 'Mini': {'cooper': [2002, 2003, 2003, 2004], 'cooper s': [2003]}, 'Mitsubishi': {'expo': [1993, 1993, 1993, 1993], 'expo.lrv': [1993]}, 'Mitsuoka': {}, 'Monte Carlo': {}, 'Morgan': {'plus eight': [2002, 2003, 2002]}, 'Moskvich': {}, 'Nash': {}, 'Nissan': {'maxima': [1993, 1993, 1993], 'truck 2wd': [1993, 1993]}, 'Noble': {}, 'Oldsmobile': {'cutlass ciera': [1993, 1993, 1993], 'cutlass supreme': [1993, 1993]}, 'Opel': {}, 'Packard': {}, 'Pagani': {'huayra coupe': [2014, 2016], 'huayra': [2018, 2023], 'huayra roadster bc': [2020]}, 'Panoz': {'panoz roadster': [1995]}, 'Paykan': {}, 'Perodua': {}, 'Peugeot': {'505 sedan': [1986, 1986, 1986, 1986, 1986]}, 'Plymouth': {'acclaim': [1993, 1993, 1993, 1993, 1993]}, 'Pontiac': {'grand prix': [1993, 1993, 1993, 1993], 'bonneville': [1993]}, 'Porsche': {'911 carrera 4/2': [1994, 1994, 1994], '968': [1994, 1994]}, 'Premier': {}, 'Proton': {}, 'PUCH': {}, 'Puma': {}, 'Qoros': {}, 'Qvale': {'detomaso mangusta': [2000]}, 'Racing car': {}, 'RAM': {'c/v cargo van': [2012], 'c/v': [2013], '1500 2wd': [2013, 2013, 2013]}, 'Rambler': {}, 'Ravon': {}, 'Reliant': {}, 'Renault': {'alliance convertible': [1986, 1986], 'fuego': [1986, 1986], 'alliance/encore': [1986]}, 'Renault Samsung': {}, 'Rezvani': {}, 'Rimac': {}, 'Rinspeed': {}, 'Rolls-Royce': {'brooklands/brklnds l': [1993], 'turbo r/turbo r(lwb)': [1993], 'silver spirit ii/silver spur': [1993], 'silver spur ii mpw touring l': [1993], 'continental': [1994]}, 'Ronart': {}, 'Rover': {'defender 110': [1993], 'range rover county': [1993], 'range rover county lwb': [1993], 'defender 90': [1994], 'discovery': [1994]}, 'Saab': {'9000': [1993, 1993, 1993, 1993], 'convertible': [1994]}, 'Saipa': {}, 'Saleen': {'mustang s351': [1995], 's281 family': [2008, 2008], 'f150 supercharged': [2008], 's331 family': [2008]}, 'Samsung': {}, 'Santana': {}, 'Saturn': {'sw': [1993, 1993, 1993, 1993], 'sc': [1994]}, 'Scion': {'xa': [2004, 2004], 'xb': [2004, 2004], 'tc': [2005]}, 'Sears': {}, 'SEAT': {}, 'Shanghai Maple': {}, 'Shifeng': {}, 'ShuangHuan': {}, 'Simca': {}, 'Skoda': {}, 'SMA': {'fortwo convertible': [2008, 2009], 'fortwo coupe': [2008, 2009], 'fortwo cabriolet': [2010]}, 'Smart': {'fortwo convertible': [2008, 2009], 'fortwo coupe': [2008, 2009], 'fortwo cabriolet': [2010]}, 'SMZ': {}, 'Soueast': {}, 'Spectre': {}, 'Spyker': {'c8 laviolette': [2005], 'c8 spyder': [2005, 2006], 'c8 spyder wide body': [2005, 2006]}, 'SsangYong': {}, 'Steyr': {}, 'Studebaker': {}, 'Subaru': {'legacy awd turbo': [1993], 'loyale': [1993, 1993], 'legacy wagon': [1993, 1993]}, 'Suzuki': {'samurai 2wd': [1993], 'sidekick hardtop 2wd': [1993, 1993], 'sidekick 2wd': [1993, 1993]}, 'TagAZ': {}, 'Talbot': {}, 'Tata': {}, 'Tatra': {}, 'Tesla': {'model s': [2012], 'model s (60 kw-hr battery pack)': [2013], 'model s (85 kw-hr battery pack)': [2013, 2014], 'model s (40 kw-hr battery pack)': [2013]}, 'Tianma': {}, 'Tianye': {}, 'Tofas': {}, 'Toyota': {'corolla': [1993, 1993, 1993, 1993], 'camry': [1993]}, 'Trabant': {}, 'Triumph': {}, 'TVR': {'tvr 280i/350i convertible': [1986], 'tvr 280i/350i coupe': [1986], 'tvr 280i convertible': [1985], 'tvr 280i coupe': [1985]}, 'UAZ': {}, 'Ultima': {}, 'Vauxhall': {}, 'VAZ (Lada)': {}, 'Vector': {'avtech sc / m12': [1996, 1997], 'w8': [1992, 1993]}, 'Venturi': {}, 'Volkswagen': {'golf iii / gti': [1993, 1993], 'jetta iii': [1993, 1993], 'passat': [1993]}, 'Volvo': {'240': [1993, 1993], '850': [1993, 1993], '940': [1993]}, 'Vortex': {}, 'Wanderer': {}, 'Wartburg': {}, 'Wiesmann': {}, 'Willys': {}, 'Wuling': {}, 'Xin Kai': {}, 'Yulon': {}, 'Zastava': {}, 'ZAZ': {}, 'Zibar': {}, 'ZIL': {}, 'ZiS': {}, 'Zotye': {}, 'ZX': {}}

In [25]:
api_key = 'dfINk+kiDgXTsSmUNLxeTA==xHg3cxnIR5bGMXK6'
transmission_type=['m', 'a']
car_set=[]

for t_type in transmission_type:

    api_url = f'https://api.api-ninjas.com/v1/cars?transmission={t_type}'
    response = requests.get(api_url, headers={'X-Api-Key': api_key})
    print(response)
    if response.status_code == requests.codes.ok:
        data = response.json()
        print(data)

        car_set=car_set+list(item['make'] for item in data)  
        print(car_set)
       
    else:
        print("Error:", response.status_code, response.text)

print(car_make_model_year)

<Response [200]>
[{'city_mpg': 19, 'class': 'two seater', 'combination_mpg': 21, 'cylinders': 4, 'displacement': 2.0, 'drive': 'rwd', 'fuel_type': 'gas', 'highway_mpg': 25, 'make': 'alfa romeo', 'model': 'spider veloce 2000', 'transmission': 'm', 'year': 1985}, {'city_mpg': 9, 'class': 'two seater', 'combination_mpg': 11, 'cylinders': 12, 'displacement': 4.9, 'drive': 'rwd', 'fuel_type': 'gas', 'highway_mpg': 14, 'make': 'ferrari', 'model': 'testarossa', 'transmission': 'm', 'year': 1985}, {'city_mpg': 23, 'class': 'subcompact car', 'combination_mpg': 27, 'cylinders': 4, 'displacement': 2.2, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 33, 'make': 'dodge', 'model': 'charger', 'transmission': 'm', 'year': 1985}, {'city_mpg': 17, 'class': 'compact car', 'combination_mpg': 19, 'cylinders': 4, 'displacement': 2.2, 'drive': 'awd', 'fuel_type': 'gas', 'highway_mpg': 23, 'make': 'subaru', 'model': 'legacy awd turbo', 'transmission': 'm', 'year': 1993}, {'city_mpg': 22, 'class': 'compact car', 'combination_mpg': 25, 'cylinders': 4, 'displacement': 1.8, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 29, 'make': 'subaru', 'model': 'loyale', 'transmission': 'm', 'year': 1993}]
['alfa romeo', 'ferrari', 'dodge', 'subaru', 'subaru']
<Response [200]>
[{'city_mpg': 10, 'class': 'van', 'combination_mpg': 11, 'cylinders': 8, 'displacement': 5.2, 'drive': 'rwd', 'fuel_type': 'gas', 'highway_mpg': 12, 'make': 'dodge', 'model': 'b150/b250 wagon 2wd', 'transmission': 'a', 'year': 1985}, {'city_mpg': 21, 'class': 'compact car', 'combination_mpg': 22, 'cylinders': 4, 'displacement': 1.8, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 24, 'make': 'subaru', 'model': 'loyale', 'transmission': 'a', 'year': 1993}, {'city_mpg': 23, 'class': 'compact car', 'combination_mpg': 24, 'cylinders': 4, 'displacement': 1.6, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 26, 'make': 'toyota', 'model': 'corolla', 'transmission': 'a', 'year': 1993}, {'city_mpg': 23, 'class': 'compact car', 'combination_mpg': 25, 'cylinders': 4, 'displacement': 1.8, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 30, 'make': 'toyota', 'model': 'corolla', 'transmission': 'a', 'year': 1993}, {'city_mpg': 18, 'class': 'compact car', 'combination_mpg': 21, 'cylinders': 4, 'displacement': 2.0, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 26, 'make': 'volkswagen', 'model': 'golf iii / gti', 'transmission': 'a', 'year': 1993}]
['alfa romeo', 'ferrari', 'dodge', 'subaru', 'subaru', 'dodge', 'subaru', 'toyota', 'toyota', 'volkswagen']
{'Acura': {'nsx': [1994, 1994], 'integra': [1994, 1994, 1994]}, 'Alfa-Romeo': {}, 'Aston Martin': {'lagonda': [1985], 'saloon/vantage/volante': [1985, 1985], 'db7 coupe': [1997, 1997]}, 'Audi': {'100': [1993, 1993], '100 quattro wagon': [1993], 'cabriolet': [1994], '90 quattro': [1994]}, 'BMW': {'740i': [1993], '740il': [1993], '750il': [1993], '525i touring': [1993], '318i convertible': [1994]}, 'Bentley': {'azure': [1998], 'continental sc': [1998], 'continental t': [1998], 'continental r': [1998], 'brooklands r': [1998]}, 'Buick': {'century': [1993, 1993, 1993], 'regal': [1993, 1993]}, 'Cadilac': {}, 'Chevrolet': {'lumina': [1993, 1993, 1993, 1993, 1993]}, 'Chrysler': {'new yorker': [1993], 'concorde': [1993, 1993], 'fifth avenue/imperial': [1993, 1993]}, 'Daewoo': {'lanos': [1998, 1998, 1998, 1998], 'nubira': [1998]}, 'Daihatsu': {'charade': [1988, 1989, 1989, 1989], 'charade e': [1989]}, 'Dodge': {'charger': [1985], 'b150/b250 wagon 2wd': [1985, 1985, 1985, 1985]}, 'Eagle': {'vision': [1993, 1993], 'summit wagon': [1993, 1993, 1993]}, 'Ferrari': {'testarossa': [1985], 'ferrari 348 tb/ts/spider': [1994, 1994], 'ferrari 512 tr': [1994], 'ferrari mondial t/cabriolet': [1994]}, 'Fiat': {'500': [2012, 2012, 2013], '500 cabrio': [2012], '500 abarth': [2012]}, 'Fisker': {'karma': [2012], 'ocean extreme one': [2023]}, 'Ford': {'taurus': [1993, 1993], 'taurus sho': [1993], 'thunderbird': [1993, 1993]}, 'Freighliner': {}, 'GMC - General Motors Company': {}, 'Genesis': {'g80 rwd': [2017, 2017], 'g80 awd': [2017], 'g90 awd': [2017], 'g90 rwd': [2017]}, 'Geo': {'tracker convertible 2wd': [1993, 1993], 'tracker convertible 4wd': [1993, 1993], 'tracker van 4wd': [1993]}, 'Honda': {'accord wagon': [1993, 1993], 'civic del sol': [1994, 1994, 1994]}, 'Hummer': {'h3 4wd': [2006, 2006, 2007, 2007, 2008]}, 'Hyundai': {'sonata': [1993, 1993, 1993], 'excel': [1994, 1994]}, 'Infinity': {}, 'Isuzu': {'pickup 2wd': [1993, 1993, 1993], 'pickup 4wd': [1993, 1993]}, 'Jaguar': {'xjs convertible': [1994], 'xjs coupe': [1994, 1994], 'xjs v12 coupe': [1994], 'xj12': [1994]}, 'Jeep': {'comanche pickup 4wd': [1993, 1993, 1993, 1993], 'comanche pickup 2wd': [1993]}, 'Kla': {}, 'Lamborghini': {'db132/diablo': [1995, 1995, 1996], 'db132/144 - diablo': [1997], 'db132/144 diablo': [1998]}, 'Land Rover': {'defender 110': [1993], 'range rover county': [1993], 'range rover county lwb': [1993], 'defender 90': [1994], 'discovery': [1994]}, 'Lexus': {'ls 400': [1993], 'sc 300/sc 400': [1994, 1994, 1994], 'es 300': [1994]}, 'Lincoln': {'continental': [1993, 1994], 'town car': [1993, 1994], 'mark viii': [1994]}, 'Lotus': {'esprit turbo': [1994, 1995], 'esprit v8': [1997, 2000], '98 esprit v8': [1998]}, 'Mazda': {'626': [1993, 1993, 1993, 1993], '929': [1993]}, 'Maserati': {'biturbo': [1985, 1985, 1986], 'biturbo spyder': [1986], 'spider cambiocorsa/spider gt': [2002]}, 'Maybach': {'57': [2004, 2005, 2006], '62': [2004, 2005]}, 'McLaren': {'mp4-12c coupe': [2012, 2014], 'mp4-12c spider': [2014], 'p1': [2014], '650s coupe': [2015]}, 'Mercedez-Benz': {}, 'Mercury': {'cougar': [1993, 1993], 'sable': [1993, 1993], 'grand marquis': [1993]}, 'Mini': {'cooper': [2002, 2003, 2003, 2004], 'cooper s': [2003]}, 'Mitsubishi': {'expo': [1993, 1993, 1993, 1993], 'expo.lrv': [1993]}, 'Nissan': {'maxima': [1993, 1993, 1993], 'truck 2wd': [1993, 1993]}, 'Oldsmobile': {'cutlass ciera': [1993, 1993, 1993], 'cutlass supreme': [1993, 1993]}, 'Panoz': {'panoz roadster': [1995]}, 'Plymouth': {'acclaim': [1993, 1993, 1993, 1993, 1993]}, 'Polestar': {'1': [2020, 2021], '2': [2021], '2 dual motor': [2022], '2 single motor': [2022]}, 'Pontiac': {'grand prix': [1993, 1993, 1993, 1993], 'bonneville': [1993]}, 'Porsche': {'911 carrera 4/2': [1994, 1994, 1994], '968': [1994, 1994]}, 'Ram': {'c/v cargo van': [2012], 'c/v': [2013], '1500 2wd': [2013, 2013, 2013]}, 'Rivian': {'r1s': [2022], 'r1t': [2022], 'r1t (20 inch wheels)': [2023], 'r1t (21 inch wheels)': [2023], 'r1t (22 inch wheels)': [2023]}, 'Rolls_Royce': {'brooklands/brklnds l': [1993], 'turbo r/turbo r(lwb)': [1993], 'silver spirit ii/silver spur': [1993], 'silver spur ii mpw touring l': [1993], 'continental': [1994]}, 'Saab': {'9000': [1993, 1993, 1993, 1993], 'convertible': [1994]}, 'Saturn': {'sw': [1993, 1993, 1993, 1993], 'sc': [1994]}, 'Smart': {'fortwo convertible': [2008, 2009], 'fortwo coupe': [2008, 2009], 'fortwo cabriolet': [2010]}, 'Subaru': {'legacy awd turbo': [1993], 'loyale': [1993, 1993], 'legacy wagon': [1993, 1993]}, 'Susuki': {}, 'Tesla': {'model s': [2012], 'model s (60 kw-hr battery pack)': [2013], 'model s (85 kw-hr battery pack)': [2013, 2014], 'model s (40 kw-hr battery pack)': [2013]}, 'Toyota': {'corolla': [1993, 1993, 1993, 1993], 'camry': [1993]}, 'Volkswagen': {'golf iii / gti': [1993, 1993], 'jetta iii': [1993, 1993], 'passat': [1993]}, 'Volvo': {'240': [1993, 1993], '850': [1993, 1993], '940': [1993]}}

In [26]:
car_set=set(car_set)
print(car_set,len(car_set))

{'dodge', 'alfa romeo', 'ferrari', 'subaru', 'volkswagen', 'toyota'} 6

In [22]:
api_key = 'dfINk+kiDgXTsSmUNLxeTA==xHg3cxnIR5bGMXK6'

car_set=[]



api_url = f'https://api.api-ninjas.com/v1/cars?make={"toyota"}'
response = requests.get(api_url, headers={'X-Api-Key': api_key})
print(response)
if response.status_code == requests.codes.ok:
    data = response.json()
    print(data)

    car_set=list(item['make'] for item in data)  
    print(car_set)
   
else:
    print("Error:", response.status_code, response.text)

<Response [200]>
[{'city_mpg': 23, 'class': 'compact car', 'combination_mpg': 24, 'cylinders': 4, 'displacement': 1.6, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 26, 'make': 'toyota', 'model': 'corolla', 'transmission': 'a', 'year': 1993}, {'city_mpg': 23, 'class': 'compact car', 'combination_mpg': 26, 'cylinders': 4, 'displacement': 1.6, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 31, 'make': 'toyota', 'model': 'corolla', 'transmission': 'm', 'year': 1993}, {'city_mpg': 23, 'class': 'compact car', 'combination_mpg': 25, 'cylinders': 4, 'displacement': 1.8, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 30, 'make': 'toyota', 'model': 'corolla', 'transmission': 'a', 'year': 1993}, {'city_mpg': 23, 'class': 'compact car', 'combination_mpg': 26, 'cylinders': 4, 'displacement': 1.8, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 30, 'make': 'toyota', 'model': 'corolla', 'transmission': 'm', 'year': 1993}, {'city_mpg': 18, 'class': 'midsize car', 'combination_mpg': 21, 'cylinders': 4, 'displacement': 2.2, 'drive': 'fwd', 'fuel_type': 'gas', 'highway_mpg': 26, 'make': 'toyota', 'model': 'camry', 'transmission': 'a', 'year': 1993}]
['toyota', 'toyota', 'toyota', 'toyota', 'toyota']

In [27]:
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Using cached numpy-1.26.4-cp310-cp310-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\pycharmprojects\project_chtiwi\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\pycharmprojects\project_chtiwi\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\pycharmprojects\project_chtiwi\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\pycharmprojects\project_chtiwi\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 1.1 MB/s eta 0:00:11
    --------------------------------------- 0.2/11.6 MB 1.4 MB/s eta 0:00:09
   - -------------------------------------- 0.3/11.6 MB 2.1 MB/s eta 0:00:06
   - -------------------------------------- 0.5/11.6 MB 2.6 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/11.6 MB 2.9 MB/s eta 0:00:04
   --- ------------------------------------ 0.9/11.6 MB 3.3 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.6 MB 3.2 MB/s eta 0:00:04
   ---- ----------------------------------- 1.2/11.6 MB 3.1 MB/s eta 0:00:04
   ---- ----------------------------------- 1.4/11.6 MB 3.1 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.6 MB 3.3 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.6 MB 3.4 MB/s eta 0:00:03
   ------ --------------------------------- 2.0/11.6 MB 3.5 MB/s eta 0:00:03
   ------- -------------------------------- 2.2/11.6 MB 3.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.6 MB 3.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.6 MB 3.5 MB/s eta 0:00:03
   --------- ------------------------------ 2.7/11.6 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.6 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.6 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.6 MB 3.5 MB/s eta 0:00:03
   ----------- ---------------------------- 3.3/11.6 MB 3.5 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.6 MB 3.5 MB/s eta 0:00:03
   ------------ --------------------------- 3.6/11.6 MB 3.4 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.6 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 3.8/11.6 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.6 MB 3.4 MB/s eta 0:00:03
   -------------- ------------------------- 4.1/11.6 MB 3.4 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.6 MB 3.3 MB/s eta 0:00:03
   -------------- ------------------------- 4.3/11.6 MB 3.2 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.6 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.6 MB 3.3 MB/s eta 0:00:03
   ---------------- ----------------------- 4.9/11.6 MB 3.4 MB/s eta 0:00:02
   ----------------- ---------------------- 5.2/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------ --------------------- 5.3/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------- -------------------- 5.6/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------- -------------------- 5.6/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 6.0/11.6 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 6.2/11.6 MB 3.3 MB/s eta 0:00:02
   ---------------------- ----------------- 6.5/11.6 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.6 MB 3.6 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.3/11.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 3.6 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.6 MB 3.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.6 MB 3.6 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 9.3/11.6 MB 3.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.6/11.6 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 4.0 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 4.1 MB/s eta 0:00:00
Using cached numpy-1.26.4-cp310-cp310-win_amd64.whl (15.8 MB)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2
Requirement already satisfied: numpy in c:\users\dell\pycharmprojects\project_chtiwi\venv\lib\site-packages (1.26.4)

In [40]:
import pandas as pd 
import numpy as np 

data=pd.read_csv('Car Dataset 1945-2020.csv', sep=',')# reading data
print(data.head(5))

C:\Users\DELL\AppData\Local\Temp\ipykernel_10868\2181406680.py:4: DtypeWarning: Columns (9,11,12,13,14,15,16,17,19,20,24,27,29,33,43,44,47,49,51,69,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Car Dataset 1945-2020.csv', sep=',')# reading data

   id_trim Make Modle    Generation  Year_from  Year_to     Series    Trim  \
0        1   AC   ACE  1 generation     1993.0   2000.0  Cabriolet  3.5 MT
1        2   AC   ACE  1 generation     1993.0   2000.0  Cabriolet  4.6 MT
2        3   AC   ACE  1 generation     1993.0   2000.0  Cabriolet  4.9 AT
3        4   AC   ACE  1 generation     1993.0   2000.0   Roadster  2.9 AT
4        5   AC   ACE  1 generation     1993.0   2000.0   Roadster  2.9 MT

   Body_type load_height_mm  ... front_suspension steering_type car_class  \
0  Cabriolet            NaN  ...  Helical springs           NaN       NaN
1  Cabriolet            NaN  ...  Helical springs           NaN       NaN
2  Cabriolet            NaN  ...  Helical springs           NaN       NaN
3        NaN            NaN  ...              NaN           NaN       NaN
4        NaN            NaN  ...              NaN           NaN       NaN

  country_of_origin number_of_doors safety_assessment rating_name  \
0               NaN             NaN               NaN         NaN
1               NaN             NaN               NaN         NaN
2               NaN             NaN               NaN         NaN
3               NaN             NaN               NaN         NaN
4               NaN             NaN               NaN         NaN

  battery_capacity_KW_per_h electric_range_km charging_time_h
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

[5 rows x 78 columns]

In [32]:
print(data.head(5))

   id_trim Make Modle    Generation  Year_from  Year_to     Series    Trim  \
0        1   AC   ACE  1 generation     1993.0   2000.0  Cabriolet  3.5 MT
1        2   AC   ACE  1 generation     1993.0   2000.0  Cabriolet  4.6 MT
2        3   AC   ACE  1 generation     1993.0   2000.0  Cabriolet  4.9 AT
3        4   AC   ACE  1 generation     1993.0   2000.0   Roadster  2.9 AT
4        5   AC   ACE  1 generation     1993.0   2000.0   Roadster  2.9 MT

   Body_type load_height_mm  ... front_suspension steering_type car_class  \
0  Cabriolet            NaN  ...  Helical springs           NaN       NaN
1  Cabriolet            NaN  ...  Helical springs           NaN       NaN
2  Cabriolet            NaN  ...  Helical springs           NaN       NaN
3        NaN            NaN  ...              NaN           NaN       NaN
4        NaN            NaN  ...              NaN           NaN       NaN

  country_of_origin number_of_doors safety_assessment rating_name  \
0               NaN             NaN               NaN         NaN
1               NaN             NaN               NaN         NaN
2               NaN             NaN               NaN         NaN
3               NaN             NaN               NaN         NaN
4               NaN             NaN               NaN         NaN

  battery_capacity_KW_per_h electric_range_km charging_time_h
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

[5 rows x 78 columns]

In [42]:
data = data [["Make","Modle","Generation","Year_from","Year_to"]]
print(data)

      Make     Modle    Generation  Year_from  Year_to
0       AC       ACE  1 generation     1993.0   2000.0
1       AC       ACE  1 generation     1993.0   2000.0
2       AC       ACE  1 generation     1993.0   2000.0
3       AC       ACE  1 generation     1993.0   2000.0
4       AC       ACE  1 generation     1993.0   2000.0
...    ...       ...           ...        ...      ...
70818   ZX  Landmark  1 generation     2007.0   2009.0
70819   ZX  Landmark  1 generation     2007.0   2009.0
70820   ZX  Landmark  1 generation     2007.0   2009.0
70821   ZX  Landmark  1 generation     2007.0   2009.0
70822   ZX  Landmark  1 generation     2007.0   2009.0

[70823 rows x 5 columns]

In [43]:
data.isna().sum()

Make            0
Modle           0
Generation      4
Year_from     237
Year_to       634
dtype: int64

In [47]:
data.duplicated().sum()

0

In [39]:
data

      Make     Modle    Generation  Year_from  Year_to
0       AC       ACE  1 generation     1993.0   2000.0
1       AC       ACE  1 generation     1993.0   2000.0
2       AC       ACE  1 generation     1993.0   2000.0
3       AC       ACE  1 generation     1993.0   2000.0
4       AC       ACE  1 generation     1993.0   2000.0
...    ...       ...           ...        ...      ...
70818   ZX  Landmark  1 generation     2007.0   2009.0
70819   ZX  Landmark  1 generation     2007.0   2009.0
70820   ZX  Landmark  1 generation     2007.0   2009.0
70821   ZX  Landmark  1 generation     2007.0   2009.0
70822   ZX  Landmark  1 generation     2007.0   2009.0

[70823 rows x 5 columns]

In [45]:
data.drop_duplicates(inplace=True)

In [46]:
data

        Make        Modle    Generation  Year_from  Year_to
0         AC          ACE  1 generation     1993.0   2000.0
9         AC        Aceca  1 generation     1998.0   2001.0
12        AC        Cobra  1 generation     1990.0   2001.0
17        AC        Cobra         Mk IV     1990.0   2001.0
22     Acura           CL  1 generation     1996.0   2000.0
...      ...          ...           ...        ...      ...
70798  Zotye         Z300  1 generation     2016.0   2017.0
70800     ZX      Admiral  1 generation     2008.0   2020.0
70805     ZX  Grand Tiger  1 generation     2007.0   2013.0
70808     ZX   GrandTiger  1 generation     2007.0   2011.0
70814     ZX     Landmark  1 generation     2007.0   2009.0

[7128 rows x 5 columns]

In [49]:
data.dropna(inplace=True)

In [50]:
data

        Make        Modle    Generation  Year_from  Year_to
0         AC          ACE  1 generation     1993.0   2000.0
9         AC        Aceca  1 generation     1998.0   2001.0
12        AC        Cobra  1 generation     1990.0   2001.0
17        AC        Cobra         Mk IV     1990.0   2001.0
22     Acura           CL  1 generation     1996.0   2000.0
...      ...          ...           ...        ...      ...
70798  Zotye         Z300  1 generation     2016.0   2017.0
70800     ZX      Admiral  1 generation     2008.0   2020.0
70805     ZX  Grand Tiger  1 generation     2007.0   2013.0
70808     ZX   GrandTiger  1 generation     2007.0   2011.0
70814     ZX     Landmark  1 generation     2007.0   2009.0

[7044 rows x 5 columns]

In [52]:
car_marke_list_2=list(data["Make"].unique())

In [54]:
car_marke_list_2

['AC',
 'Acura',
 'Adler',
 'Alfa Romeo',
 'Alpina',
 'Alpine',
 'AMC',
 'Apal',
 'Aro',
 'Asia',
 'Aston Martin',
 'Audi',
 'Aurus',
 'Austin',
 'Austin Healey',
 'Autobianchi',
 'Autocam',
 'Baic',
 'Bajaj',
 'Baltijas Dzips',
 'Batmobile',
 'Beijing',
 'Bentley',
 'Bertone',
 'Bilenkin',
 'Bitter',
 'BMW',
 'Borgward',
 'Brabus',
 'Brilliance',
 'Bristol',
 'Bufori',
 'Bugatti',
 'Buick',
 'BYD',
 'Cadillac',
 'Callaway',
 'Carbodies',
 'Caterham',
 'Chana',
 'Changan',
 'ChangFeng',
 'Changhe',
 'Chery',
 'CheryExeed',
 'Chevrolet',
 'Chrysler',
 'Citroen',
 'Cizeta',
 'Coggiola',
 'Combat',
 'Cord',
 'Dacia',
 'Dadi',
 'Daewoo',
 'Daihatsu',
 'Daimler',
 'Dallara',
 'Dallas',
 'Datsun',
 'De Tomaso',
 'Deco Rides',
 'Delage',
 'DeLorean',
 'Derways',
 'DeSoto',
 'DFSK',
 'DKW',
 'Dodge',
 'DongFeng',
 'Doninvest',
 'Donkervoort',
 'DS',
 'DW Hower',
 'Eagle',
 'Excalibur',
 'FAW',
 'Ferrari',
 'Fiat',
 'Fisker',
 'Flanker',
 'Ford',
 'Foton',
 'FSO',
 'Fuqi',
 'GAC',
 'GAZ',
 'Geely',
 'Genesis',
 'Geo',
 'GMC',
 'Gonow',
 'Gordon',
 'GP',
 'Great Wall',
 'Hafei',
 'Haima',
 'Hanomag',
 'Haval',
 'Hawtai',
 'Heinkel',
 'Hindustan',
 'Hispano-Suiza',
 'Holden',
 'Honda',
 'Horch',
 'HuangHai',
 'Hudson',
 'Hummer',
 'Hyundai',
 'Infiniti',
 'Innocenti',
 'Invicta',
 'Iran Khodro',
 'Isdera',
 'Isuzu',
 'IVECO',
 'IZH',
 'JAC',
 'Jaguar',
 'Jeep',
 'Jensen',
 'Jiangnan',
 'Jinbei',
 'JMC',
 'Kanonir',
 'Kia',
 'Koenigsegg',
 'KTM AG',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Landwind',
 'Lexus',
 'Lifan',
 'Ligier',
 'Lincoln',
 'Lotus',
 'LTI',
 'LuAZ',
 'Luxgen',
 'Mahindra',
 'Marcos',
 'Marlin',
 'Marussia',
 'Maruti',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren',
 'Mega',
 'Mercedes-Benz',
 'Mercury',
 'Metrocab',
 'MG',
 'Minelli',
 'Mini',
 'Mitsubishi',
 'Mitsuoka',
 'Monte Carlo',
 'Morgan',
 'Moskvich',
 'Nash',
 'Nissan',
 'Noble',
 'Oldsmobile',
 'Opel',
 'Packard',
 'Pagani',
 'Panoz',
 'Paykan',
 'Perodua',
 'Peugeot',
 'Plymouth',
 'Pontiac',
 'Porsche',
 'Premier',
 'Proton',
 'PUCH',
 'Puma',
 'Qoros',
 'Qvale',
 'Racing car',
 'RAM',
 'Rambler',
 'Ravon',
 'Reliant',
 'Renault',
 'Renault Samsung',
 'Rezvani',
 'Rimac',
 'Rinspeed',
 'Rolls-Royce',
 'Ronart',
 'Rover',
 'Saab',
 'Saipa',
 'Saleen',
 'Samsung',
 'Santana',
 'Saturn',
 'Scion',
 'Sears',
 'SEAT',
 'Shanghai Maple',
 'Shifeng',
 'ShuangHuan',
 'Simca',
 'Skoda',
 'SMA',
 'Smart',
 'SMZ',
 'Soueast',
 'Spectre',
 'Spyker',
 'SsangYong',
 'Steyr',
 'Studebaker',
 'Subaru',
 'Suzuki',
 'TagAZ',
 'Talbot',
 'Tata',
 'Tatra',
 'Tesla',
 'Tianma',
 'Tianye',
 'Tofas',
 'Toyota',
 'Trabant',
 'Triumph',
 'TVR',
 'UAZ',
 'Ultima',
 'Vauxhall',
 'VAZ (Lada)',
 'Vector',
 'Venturi',
 'Volkswagen',
 'Volvo',
 'Vortex',
 'Wanderer',
 'Wartburg',
 'Wiesmann',
 'Willys',
 'Wuling',
 'Xin Kai',
 'Yulon',
 'Zastava',
 'ZAZ',
 'Zibar',
 'ZIL',
 'ZiS',
 'Zotye',
 'ZX']

In [55]:
len(car_marke_list_2)

255